@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ------------------------------------------------------------------- */
/* reset setting */
/* ------------------------------------------------------------------- */
img {
  max-width: 100%;
  height: auto;
  vertical-align: baseline;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  overflow-x: hidden !important;
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

a {
  text-decoration: none;
  display: inline-block;
}

sub {
  vertical-align: sub;
}

.container {
  max-width: 1110px !important;
  margin: 0 auto;
  height: 100%;
  /* padding-left: 16px;
  padding-right: 16px; */
}

/* .fa {
  font-weight: 900;
  font-size: x-large !important;
} */
/* ------------------------------------------------------------------- */
/* base setting by me */
* {
  font-family: Arial, "微軟正黑體" !important;
}

/* 全版通用Logo清單 */
.wrapper {
  width: 100vw;
  height: 100vh;
}

.carousel-item {
  height: auto;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-item p {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  color: white;
  z-index: 1;
  font-size: 24px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.carousel-indicators {
  z-index: 10;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  top: 92%;
}
.carousel-indicators button {
  border-radius: 100%;
  width: 12px !important;
  height: 12px !important;
  z-index: 10;
  margin-right: 8px;
  margin-left: 8px;
}

main {
  z-index: 5;
  position: absolute;
  /* 上層已預設是relative了 */
  max-height: 550px;
  max-width: 1100px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: white;
}
main .index_zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
main .index_zone .left_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .index_zone .left_side address a {
  margin-top: 6px;
  font-size: 12px;
  display: block;
  color: #d9d9d9;
}
main .index_zone .right_side {
  height: 100%;
}
main .index_zone .right_side .gap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
main .index_zone .right_side .gap .img_zone {
  max-height: 275px;
  max-width: 275px;
}
main .index_zone .right_side .gap .img_zone a {
  position: relative;
  color: white;
  font-weight: 500;
  font-size: 19px;
}
main .index_zone .right_side .gap .img_zone a img {
  display: block;
  width: 275px;
  height: 275px;
}
main .index_zone .right_side .gap .img_zone a .text_show {
  width: 100%;
  height: 100%;
  position: absolute;
  display: inline-block;
  top: 0;
  text-align: center;
  line-height: 275px;
  color: transparent;
  font-size: 19px;
  -webkit-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
}
main .index_zone .right_side .gap .img_zone a .text_show:hover {
  display: block;
  color: inherit;
  background-color: rgba(56, 71, 11, 0.6);
}

.ui_name {
  margin-bottom: 6px;
  font-size: 12px;
  display: block;
  color: #d9d9d9;
  text-align: end;
}

.room_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.room_left {
  min-width: 573px;
  max-width: 30%;
  position: relative;
}

.room_right {
  max-width: 70%;
}

.owl-carousel {
  position: relative;
}

.owl-item-control img {
  min-height: 768px;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.img-thumbnail {
  padding: 0;
}

.owl-carousel .owl-item img {
  min-width: 573px;
}

.owl-dots {
  position: absolute;
  bottom: 18%;
  z-index: 1;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: black;
}

.owl-theme .owl-dots .owl-dot span {
  border: 1px solid #38470B;
}

.booking_position {
  z-index: 3;
  position: absolute;
  right: 0;
  bottom: 53%;
  left: 0;
  margin: auto;
}
.booking_position p {
  text-align: center;
  color: #38470B;
  font-weight: 600;
  font-size: 16px;
}
.booking_position p span {
  color: #38470B;
  font-size: 36px;
}
.booking_position p span:last-child {
  font-size: 20px;
}
.booking_position p span:last-child:before {
  content: "/";
  font-weight: 500;
  display: inline-block;
  padding-left: 18px;
  padding-right: 18px;
}

.book_btn {
  border: 1px solid #38470B;
  font-family: Open Sans;
  font-size: 20px;
  color: #fff;
  background-color: #38470b;
  display: block;
  margin: 10px auto 0;
  padding: 8.5px 63.5px;
  outline: none;
}
.book_btn:hover {
  background-color: #949c7c;
}
.book_btn:active {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.photo-txt {
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 80px 100px;
  position: absolute;
  top: 80%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, white));
  background: linear-gradient(transparent, white 50%);
}
@media (max-height: 1500px) {
  .photo-txt {
    top: 70%;
  }
}
@media (max-height: 900px) {
  .photo-txt {
    top: 40%;
  }
}

.backpage {
  z-index: 2;
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  color: #38470B;
  top: 87px;
  left: 146px;
}
.backpage:before {
  content: "❮";
}
.backpage:hover {
  color: #949C7C;
}

.lb-number {
  display: none !important;
}

.priceStyle {
  font-size: 30px;
  color: #38470B;
  font-weight: 600;
}

.proitem-detail {
  padding: 8rem 8rem 2rem 2rem;
}
.proitem-detail .proitem-sort:not(:last-child),
.proitem-detail .proitem-sort > *:not(:last-child) {
  padding-bottom: 0.75rem;
}
.proitem-detail .proitem-sort .room_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.proitem-detail .proitem-sort .room_title h1 {
  font-size: 40px;
  color: #38470B;
}
.proitem-detail .proitem-sort .room_title small {
  font-size: 14px;
  color: #38470B;
}
.proitem-detail .proitem-sort .proitem-info {
  padding: 1px;
}
.proitem-detail .proitem-sort .proitem-info .info-list {
  color: #38470B;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
.proitem-detail .proitem-sort .sort-title {
  font-size: 95%;
  overflow: hidden;
  font-style: italic;
  text-align: center;
}
.proitem-detail .proitem-sort .sort-title span {
  padding: 0 1rem;
  position: relative;
  color: blue;
  display: inline-block;
}
.proitem-detail .proitem-sort .sort-title span::before {
  content: "";
  top: 50%;
  left: auto;
  right: auto;
  width: 50vw;
  position: absolute;
  border-top: 1px solid blue;
  left: 100% !important;
}
.proitem-detail .proitem-sort .sort-title span::after {
  content: "";
  top: 50%;
  left: auto;
  right: auto;
  width: 50vw;
  position: absolute;
  border-top: 1px solid blue;
  right: 100% !important;
}
.proitem-detail .proitem-sort .sort-item .supply-content {
  padding: 1rem;
}
.proitem-detail .proitem-sort .sort-item .supply-content li {
  font-weight: 300;
  font-size: 14px;
}
.proitem-detail .proitem-sort .sort-item .supply-content li:not(:last-child) {
  margin-bottom: 0.25rem;
}
.proitem-detail .proitem-sort .sort-item .supply-icon-zone {
  min-height: 164px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.proitem-detail .proitem-sort .sort-item .supply-icon-zone li {
  -ms-flex-preferred-size: 14%;
      flex-basis: 14%;
  pointer-events: none;
}
.proitem-detail .proitem-sort .sort-item .supply-icon-zone li .main-icon {
  display: inline-block;
  text-align: center;
  width: 56px;
  min-height: 82px;
}
.proitem-detail .proitem-sort .sort-item .supply-icon-zone li .status-icon {
  height: 15px;
  width: 15px;
  vertical-align: top;
}

#lightbox-container-image-box {
  max-width: 970px;
}

#lightbox-container-image img {
  max-width: 950px;
}

.hide_icon {
  opacity: 0.3;
}

.datepicker__inner {
  border: 1px solid #38470B;
}

.date_pick {
  padding: 2rem;
}

.datepicker {
  width: 90%;
}

.datepicker__month {
  width: 320px;
}

.datepicker__month tbody {
  height: 210px;
}

.datepicker__months {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.empty_p {
  font-size: 14px;
  color: #38470B;
  font-weight: 600;
  margin-bottom: 10px;
}

.cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 1366px;
  min-height: 768px;
  z-index: 15;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 84px 128px;
}

.order_info {
  width: 100%;
  height: 100%;
  background-color: #949c7c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.order_info .left_order {
  width: 35%;
  height: 100%;
  background-color: #38470B;
  padding: 40px 50px;
}
.order_info .left_order .order_keyinfo {
  width: 100%;
}
.order_info .left_order .order_keyinfo div {
  position: relative;
  width: 100%;
}
.order_info .left_order .order_keyinfo div p {
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.order_info .left_order .order_keyinfo div .basic-slide {
  height: 38px;
  width: 100%;
  display: inline-block;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #377d6a;
  background: white;
  border: 0;
  outline: 0;
  text-indent: 70px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.order_info .left_order .order_keyinfo div .basic-slide::-webkit-input-placeholder {
  color: #38470B;
  text-indent: 0;
  font-weight: 300;
}
.order_info .left_order .order_keyinfo div .basic-slide:focus,
.order_info .left_order .order_keyinfo div .basic-slide:active {
  color: #377d6a;
  text-indent: 0;
  background: #acb299;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.order_info .left_order .order_keyinfo div .basic-slide:focus::-webkit-input-placeholder,
.order_info .left_order .order_keyinfo div .basic-slide:active::-webkit-input-placeholder {
  color: white;
}
.order_info .left_order .order_keyinfo div .basic-slide:focus + label,
.order_info .left_order .order_keyinfo div .basic-slide:active + label {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.order_info .left_order .order_keyinfo #input_start,
.order_info .left_order .order_keyinfo #input_end {
  height: 38px;
  width: 100%;
  text-align: left;
  font-weight: 600;
  padding: 0 10px;
  border: 1px solid white;
  line-height: 38px;
  color: #38470B;
  display: block;
  font-size: 16px;
}
.order_info .left_order .order_keyinfo #input_start:after,
.order_info .left_order .order_keyinfo #input_end:after {
  content: "▾";
  position: absolute;
  right: 10px;
}
.order_info .left_order .order_keyinfo .calc_date {
  font-size: 14px;
  color: #949C7C;
  font-weight: 600;
  padding-bottom: 8px;
  border-bottom: 1px solid #949C7C;
}
.order_info .left_order .order_keyinfo .order_total {
  text-align: right;
  margin-top: 6px;
}
.order_info .left_order .order_keyinfo .order_total p {
  font-size: 26px;
}
.order_info .left_order .order_keyinfo .order_total p:first-child {
  font-size: 14px;
}
.order_info .left_order .order_keyinfo .order_submit {
  text-align: center;
}
.order_info .left_order .order_keyinfo .order_submit button {
  background-color: #38470B;
  color: white;
  border: 1px solid white;
  width: 100%;
  padding: 9px 0px;
  font-size: 18px;
  font-weight: 600;
}
.order_info .left_order .order_keyinfo .order_submit button:hover {
  background-color: #949C7C;
}
.order_info .left_order .order_keyinfo .order_tip {
  text-align: center;
  padding: 9px 0px;
  font-size: 12px;
  color: white;
}
.order_info .right_order {
  width: 65%;
  height: 100%;
  background-color: white;
  padding: 30px 94px 26px 26px;
  position: relative;
}
.order_info .right_order .exitbtn {
  background-color: transparent;
  outline: none;
  position: absolute;
  right: 22px;
  top: 22px;
  border: none;
}
.order_info .right_order .order_room_info {
  margin-top: 10px;
  margin-bottom: 15px;
}
.order_info .right_order .order_room_info .text_decorate {
  overflow: hidden;
  margin-bottom: 8px;
}
.order_info .right_order .order_room_info .text_decorate h2 {
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  color: #38470B;
  position: relative;
  display: inline-block;
  margin-bottom: 8px;
}
.order_info .right_order .order_room_info .text_decorate h2::before {
  content: "";
  top: 50%;
  left: auto;
  right: auto;
  width: 50vw;
  position: absolute;
  border-top: 1px solid #949C7C;
  opacity: 0.2;
  left: 100% !important;
}
.order_info .right_order .order_room_info .text_decorate h2::after {
  content: "";
  top: 50%;
  left: auto;
  right: auto;
  width: 50vw;
  position: absolute;
  border-top: 1px solid #949C7C;
  opacity: 0.2;
  right: 100% !important;
}
.order_info .right_order .order_room_info .text_decorate h3 {
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  color: #38470B;
  position: relative;
  display: inline-block;
  margin-bottom: 8px;
}
.order_info .right_order .order_room_info .text_decorate h3::before {
  content: "";
  top: 50%;
  left: auto;
  right: auto;
  width: 50vw;
  position: absolute;
  border-top: 1px solid #949C7C;
  opacity: 0.2;
  left: 100% !important;
}
.order_info .right_order .order_room_info .text_decorate h3::after {
  content: "";
  top: 50%;
  left: auto;
  right: auto;
  width: 50vw;
  position: absolute;
  border-top: 1px solid #949C7C;
  opacity: 0.2;
  right: 100% !important;
}
.order_info .right_order .order_room_info .text_decorate p {
  font-size: 14px;
  color: #38470B;
}
.order_info .right_order .order_room_info .order_icon_describe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 530px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 3px;
}
.order_info .right_order .order_room_info .order_icon_describe li {
  padding: 8px;
  -ms-flex-preferred-size: 12%;
      flex-basis: 12%;
}
.order_info .right_order .order_room_info .order_info_describe {
  padding: 0px 16px;
}
.order_info .right_order .order_room_info .order_info_describe li {
  font-size: 12px;
  color: #38470B;
  margin-bottom: 6px;
}
.order_info .right_order .order_room_info .order_process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.order_info .right_order .order_room_info .order_process .step {
  border: 1px solid #949C7C;
  width: 30%;
  min-width: 160px;
  border-radius: 0 0 10px 10px;
}
.order_info .right_order .order_room_info .order_process .step .step_topbg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #949C7C;
}
.order_info .right_order .order_room_info .order_process .step .step_topbg img {
  height: 32px;
  width: 30px;
}
.order_info .right_order .order_room_info .order_process .step .step_bottominfo {
  font-size: 12px;
  color: #38470B;
  padding: 14px 6px;
  text-align: center;
}

.loading {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader {
  font-size: 48px;
  color: #38470B;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
}

.loader:after {
  content: "";
  height: 4px;
  width: 0%;
  display: block;
  background: #949C7C;
  -webkit-animation: 5s lineGrow linear infinite;
          animation: 5s lineGrow linear infinite;
}

@-webkit-keyframes lineGrow {
  to {
    width: 100%;
  }
}

@keyframes lineGrow {
  to {
    width: 100%;
  }
}/*# sourceMappingURL=all.css.map */